@{
    ViewData["Title"] = "Calculate Income Tax";
}

<div class="container">
    <div class="text-center card">

        <div class="card-header">
            <h6>To calculate your yearly income tax please fill in your gross monthly income as well as select the postal code of the area that you reside in.</h6>
        </div>
        
        <div class="card-body">
            <div class="row mb-5">
                <div class="col-md-6">
                    <label class="col-form-label">Monthly Income</label>
                    <input id="monthlyIncome" class="form-control" type="number" placeholder="Monthly Income" />
                </div>
                <div class="col-md-6">
                    <label class="col-form-label">Postal Code</label>
                    <input id="postalCode" class="form-control" type="text" placeholder="Postal Code" />
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-12">
                    <input type="button" class="btn btn-primary" value="Calculate" onclick="CalculateIncomeTax();" />
                </div>
            </div>
        </div>
       
    </div>
</div>

@section Scripts {
    <script src="~/lib/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/js/tax/calculate.js"></script>
}